<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.doctor.mapper.DoctorMapper" >
  <resultMap id="BaseResultMap" type="com.doctor.model.Doctor" >
    <id column="user_id" property="userId" jdbcType="VARCHAR" />
    <result column="sex" property="sex" jdbcType="INTEGER" />
    <result column="birthday" property="birthday" jdbcType="DATE" />
    <result column="address" property="address" jdbcType="VARCHAR" />
    <result column="degree" property="degree" jdbcType="INTEGER" />
    <result column="profession_title" property="professionTitle" jdbcType="VARCHAR" />
    <result column="dept_id" property="deptId" jdbcType="VARCHAR" />
    <result column="dept_name" property="deptName" jdbcType="VARCHAR" />
    <result column="skill_info" property="skillInfo" jdbcType="VARCHAR" />
    <result column="yprice" property="yprice" jdbcType="INTEGER" />
    <result column="price" property="price" jdbcType="INTEGER" />
    <result column="speciality" property="speciality" jdbcType="VARCHAR" />
    <result column="type" property="type" jdbcType="INTEGER" />
    <result column="describe_" property="describe" jdbcType="VARCHAR" />
    <result column="create_by" property="createBy" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_by" property="updateBy" jdbcType="VARCHAR" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="state" property="state" jdbcType="INTEGER" />
  </resultMap>
  <resultMap id="doctorVO" type="com.doctor.model.DoctorVO" >
    <result column="user_id" property="userId" jdbcType="VARCHAR" />
    <result column="name_" property="name" jdbcType="VARCHAR" />
    <result column="profession_title" property="professionTitle" jdbcType="VARCHAR" />
    <result column="orgName" property="orgName" jdbcType="VARCHAR" />
    <result column="dept_name" property="deptName" jdbcType="VARCHAR" />
    <result column="skill_info" property="skillInfo" jdbcType="VARCHAR" />
    <result column="describe_" property="describe" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    user_id, sex, birthday, address, degree, profession_title, dept_id, dept_name, skill_info, 
    yprice, price, speciality, type, describe_, create_by, create_time, update_by, update_time, 
    state
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from sys_doctor
    where user_id = #{userId,jdbcType=VARCHAR}
  </select>

  <select id="listByOrgId" resultMap="doctorVO">
    SELECT u.id as user_id, u.name_, d.profession_title, o.orgName, d.dept_name, d.skill_info, d.describe_
    FROM sys_org o
    LEFT JOIN sys_user u on o.id = u.org_id
    LEFT JOIN sys_doctor d on d.user_id = u.id
    WHERE o.id = #{orgId}
  </select>

  <select id="listByUserId" resultMap="doctorVO">
    select u.id as user_id, u.name_, d.profession_title, o.orgName, d.dept_name, d.skill_info, d.describe_
    from tb_user_doctor_relation r
    LEFT JOIN sys_doctor d on d.user_id = r.doctor_id
    LEFT JOIN sys_user u on d.user_id = u.id
    LEFT JOIN sys_org o on o.id = u.org_id
    where r.user_id = #{userId}
  </select>


  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from sys_doctor
    where user_id = #{userId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.doctor.model.Doctor" >
    insert into sys_doctor (user_id, sex, birthday, 
      address, degree, profession_title, 
      dept_id, dept_name, skill_info, 
      yprice, price, speciality, 
      type, describe_, create_by, 
      create_time, update_by, update_time, 
      state)
    values (#{userId,jdbcType=VARCHAR}, #{sex,jdbcType=INTEGER}, #{birthday,jdbcType=DATE}, 
      #{address,jdbcType=VARCHAR}, #{degree,jdbcType=INTEGER}, #{professionTitle,jdbcType=VARCHAR}, 
      #{deptId,jdbcType=VARCHAR}, #{deptName,jdbcType=VARCHAR}, #{skillInfo,jdbcType=VARCHAR}, 
      #{yprice,jdbcType=INTEGER}, #{price,jdbcType=INTEGER}, #{speciality,jdbcType=VARCHAR}, 
      #{type,jdbcType=INTEGER}, #{describe,jdbcType=VARCHAR}, #{createBy,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{updateBy,jdbcType=VARCHAR}, #{updateTime,jdbcType=TIMESTAMP}, 
      #{state,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.doctor.model.Doctor" >
    insert into sys_doctor
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="userId != null" >
        user_id,
      </if>
      <if test="sex != null" >
        sex,
      </if>
      <if test="birthday != null" >
        birthday,
      </if>
      <if test="address != null" >
        address,
      </if>
      <if test="degree != null" >
        degree,
      </if>
      <if test="professionTitle != null" >
        profession_title,
      </if>
      <if test="deptId != null" >
        dept_id,
      </if>
      <if test="deptName != null" >
        dept_name,
      </if>
      <if test="skillInfo != null" >
        skill_info,
      </if>
      <if test="yprice != null" >
        yprice,
      </if>
      <if test="price != null" >
        price,
      </if>
      <if test="speciality != null" >
        speciality,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="describe != null" >
        describe_,
      </if>
      <if test="createBy != null" >
        create_by,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateBy != null" >
        update_by,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="state != null" >
        state,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="userId != null" >
        #{userId,jdbcType=VARCHAR},
      </if>
      <if test="sex != null" >
        #{sex,jdbcType=INTEGER},
      </if>
      <if test="birthday != null" >
        #{birthday,jdbcType=DATE},
      </if>
      <if test="address != null" >
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="degree != null" >
        #{degree,jdbcType=INTEGER},
      </if>
      <if test="professionTitle != null" >
        #{professionTitle,jdbcType=VARCHAR},
      </if>
      <if test="deptId != null" >
        #{deptId,jdbcType=VARCHAR},
      </if>
      <if test="deptName != null" >
        #{deptName,jdbcType=VARCHAR},
      </if>
      <if test="skillInfo != null" >
        #{skillInfo,jdbcType=VARCHAR},
      </if>
      <if test="yprice != null" >
        #{yprice,jdbcType=INTEGER},
      </if>
      <if test="price != null" >
        #{price,jdbcType=INTEGER},
      </if>
      <if test="speciality != null" >
        #{speciality,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        #{type,jdbcType=INTEGER},
      </if>
      <if test="describe != null" >
        #{describe,jdbcType=VARCHAR},
      </if>
      <if test="createBy != null" >
        #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null" >
        #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="state != null" >
        #{state,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.doctor.model.Doctor" >
    update sys_doctor
    <set >
      <if test="sex != null" >
        sex = #{sex,jdbcType=INTEGER},
      </if>
      <if test="birthday != null" >
        birthday = #{birthday,jdbcType=DATE},
      </if>
      <if test="address != null" >
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="degree != null" >
        degree = #{degree,jdbcType=INTEGER},
      </if>
      <if test="professionTitle != null" >
        profession_title = #{professionTitle,jdbcType=VARCHAR},
      </if>
      <if test="deptId != null" >
        dept_id = #{deptId,jdbcType=VARCHAR},
      </if>
      <if test="deptName != null" >
        dept_name = #{deptName,jdbcType=VARCHAR},
      </if>
      <if test="skillInfo != null" >
        skill_info = #{skillInfo,jdbcType=VARCHAR},
      </if>
      <if test="yprice != null" >
        yprice = #{yprice,jdbcType=INTEGER},
      </if>
      <if test="price != null" >
        price = #{price,jdbcType=INTEGER},
      </if>
      <if test="speciality != null" >
        speciality = #{speciality,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        type = #{type,jdbcType=INTEGER},
      </if>
      <if test="describe != null" >
        describe_ = #{describe,jdbcType=VARCHAR},
      </if>
      <if test="createBy != null" >
        create_by = #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null" >
        update_by = #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="state != null" >
        state = #{state,jdbcType=INTEGER},
      </if>
    </set>
    where user_id = #{userId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.doctor.model.Doctor" >
    update sys_doctor
    set sex = #{sex,jdbcType=INTEGER},
      birthday = #{birthday,jdbcType=DATE},
      address = #{address,jdbcType=VARCHAR},
      degree = #{degree,jdbcType=INTEGER},
      profession_title = #{professionTitle,jdbcType=VARCHAR},
      dept_id = #{deptId,jdbcType=VARCHAR},
      dept_name = #{deptName,jdbcType=VARCHAR},
      skill_info = #{skillInfo,jdbcType=VARCHAR},
      yprice = #{yprice,jdbcType=INTEGER},
      price = #{price,jdbcType=INTEGER},
      speciality = #{speciality,jdbcType=VARCHAR},
      type = #{type,jdbcType=INTEGER},
      describe_ = #{describe,jdbcType=VARCHAR},
      create_by = #{createBy,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_by = #{updateBy,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      state = #{state,jdbcType=INTEGER}
    where user_id = #{userId,jdbcType=VARCHAR}
  </update>
</mapper>