<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.doctor.mapper.UserDoctorChatMapper" >
  <resultMap id="BaseResultMap" type="com.doctor.model.UserDoctorChat" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="user_id" property="userId" jdbcType="VARCHAR" />
    <result column="send_id" property="sendId" jdbcType="VARCHAR" />
    <result column="message" property="message" jdbcType="VARCHAR" />
    <result column="doctor_id" property="doctorId" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, user_id, doctor_id, send_id, message
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select
    <include refid="Base_Column_List" />
    from tb_user_doctor_chat
    where id = #{id,jdbcType=INTEGER}
  </select>

  <select id="list" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from tb_user_doctor_chat
    where user_id = #{userId,jdbcType=VARCHAR}
    and doctor_id = #{doctorId,jdbcType=VARCHAR}
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from tb_user_doctor_chat
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.doctor.model.UserDoctorChat" >
    insert into tb_user_doctor_chat (id, user_id, send_id, 
      message, doctor_id)
    values (#{id,jdbcType=INTEGER}, #{userId,jdbcType=VARCHAR}, #{sendId,jdbcType=VARCHAR}, 
      #{message,jdbcType=VARCHAR}, #{doctorId,jdbcType=VARBINARY})
  </insert>
  <insert id="insertSelective" parameterType="com.doctor.model.UserDoctorChat" >
    insert into tb_user_doctor_chat
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="sendId != null" >
        send_id,
      </if>
      <if test="message != null" >
        message,
      </if>
      <if test="doctorId != null" >
        doctor_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=VARCHAR},
      </if>
      <if test="sendId != null" >
        #{sendId,jdbcType=VARCHAR},
      </if>
      <if test="message != null" >
        #{message,jdbcType=VARCHAR},
      </if>
      <if test="doctorId != null" >
        #{doctorId,jdbcType=VARBINARY},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.doctor.model.UserDoctorChat" >
    update tb_user_doctor_chat
    <set >
      <if test="userId != null" >
        user_id = #{userId,jdbcType=VARCHAR},
      </if>
      <if test="sendId != null" >
        send_id = #{sendId,jdbcType=VARCHAR},
      </if>
      <if test="message != null" >
        message = #{message,jdbcType=VARCHAR},
      </if>
      <if test="doctorId != null" >
        doctor_id = #{doctorId,jdbcType=VARBINARY},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.doctor.model.UserDoctorChat" >
    update tb_user_doctor_chat
    set user_id = #{userId,jdbcType=VARCHAR},
      send_id = #{sendId,jdbcType=VARCHAR},
      message = #{message,jdbcType=VARCHAR},
      doctor_id = #{doctorId,jdbcType=VARBINARY}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.doctor.model.UserDoctorChat" >
    update tb_user_doctor_chat
    set user_id = #{userId,jdbcType=VARCHAR},
      send_id = #{sendId,jdbcType=VARCHAR},
      message = #{message,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>